/* Fundo e estilo geral */
body {
    background-image: url(fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    color: beige;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 75px;
    color: beige;
    background-color: #f19f1b;
    margin-bottom: 40px;
    padding: 20px;
    text-transform: uppercase;
}

button {
    background-color: #f19f1b;
    color: beige;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    margin: 20px;
}

button:hover {
    background-color: #d66807;
}

.temporadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.episodio {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    padding: 10px;
}

.episodio img {
    width: 100%;
    border-radius: 10px;
}

.episodio h2 {
    font-size: 20px;
    margin: 10px 0;
}

.assistir {
    display: inline-block;
    background-color: #f19f1b;
    color: beige;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.assistir:hover {
    background-color: #d66807;
}